

h1 {
  color: #42a5f5;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  line-height: 120px;
  font-family: "Josefin Sans", sans-serif;
}


body {
  border-radius: 18px;
}

input {
  background-color: transparent;
}

input#searchBar {
  border-color: #42a5f5, #2897f1;
}

.searchBar {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 25px;
  left: 20px;
  border-color: #42a5f5, #2897f1;
}

#showCurrent {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 70px;
  left: 20px;
  background-color: #42a5f5;
  border-color: #2897f1;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 17px;
}

.currentCondition {
  font-family: "Roboto", sans-serif;
  color: #42a5f5;
  font-weight: 150px;
  display: block;
  position: absolute;
  top: 120px;
  left: 20px;
}

.current-temp {
  color: #939aa9;
  font-size: 24px;
  display: block;
  top: 20%;
  left: 50%;
  font-weight: 600px;
}

.units {
  position: absolute;
}

#celsius-link {
  color: #42a5f5;
}

#fahrenheit-link {
  color: #42a5f5;
}


.container {
  display: block;
  margin: 0 auto;
}



/* .tomWeather {
  width: 90px;
  margin: 0;
  padding: 0 12px 0 12px;
}

.wedWeather {
  width: 90px;
  margin: 0 auto;
  padding: 0 12px 0 18px;
}

.thuWeather {
  width: 90px;
  margin: 0;
  padding: 0 12px 0 12px;
}

.friWeather {
  width: 90px;
  margin: 0;
  padding: 0 12px 0 12px;
}

.satWeather {
  width: 90px;
  margin: 0;
  padding: 0 12px 0 12px;
}

.sunWeather {
  width: 90px;
  margin: 0;
  padding: 0 12px 0 12px;
} */

#footer {
  font-size: 12px;
  text-align: center;
  position: absolute;
}
